.container{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 1.25rem;
    color: white;
    max-width: 100%;
    padding: 1.25rem;
    text-align: justify;
}
.container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.container p span{
    background-color: black;
    color: #00c0c7;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid white;
}